%h1 Editing user

= "Encrypted Password: [" + @user.encrypted_password + "]"
%br


= render 'form'


= link_to 'Show', @user
\|
= link_to_function "Back", "history.go(-1)", :class => 'btn btn-mini btn-warning'
