%h1 Listing users

%table{:class => "table table-bordered"}
  %tr
    %th Email
    %th Role
    %th Methods

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.role
      %td
        = link_to 'Edit', edit_user_path(user), :class => "btn btn-mini btn-info"
        = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger"