// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.node-btn {
  font-size: 15pt;
  font-weight: lighter;
  font-stretch: extra-condensed;
}

.nav li {
}