// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.each-page {
  margin: 0px 0px 0px 0px;
}

.page-title {
  font-size: 12pt;
  font-weight: bold;
}

.page-author-date {
  font-size: 8pt;
}

.page-body {

}